/*
**  blue bar
**      rgb(0, 133, 181)
**  background accent
**      rgb(227, 227, 227);
**  text
**      rgb(158, 161, 163);
**  (darker)text
**      rgb(128, 128, 128);
**  right
**      rgb(28, 156, 30)
**  wrong
**      rgb(156, 30, 28)
*/

* {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
}


html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(227, 227, 227);
}

ul {
    list-style: none;
}

.hide {
    visibility: hidden;
}

.yes-button {
    background-color: rgb(28, 156, 30);
    border: 2px solid rgb(227, 227, 227);
    border-radius: 8px;
    color: rgb(227, 227, 227);
    padding: 8px;
}

.no-button {
    background-color: rgb(156, 30, 28);
    padding: 8px;
}

.header-bar {
    background-color: rgb(0, 133, 181);
    width: 100%;
    height: 80px;
}

.tab-view {
    width: 80%;
    margin: 80px auto;
    background-color: white;

}

.question-list {
    padding: 16px 8px;
}