/*
**  blue bar
**      rgb(0, 133, 181)
**  background accent
**      rgb(227, 227, 227);
**  text
**      rgb(158, 161, 163);
**  (darker)text
**      rgb(128, 128, 128);
**  right
**      rgb(28, 156, 30)
**  wrong
**      rgb(156, 30, 28)
*/

.multiple-choice-answer {
    position: relative;
}

.answer-label-radio {
    padding: 0 32px;
}

.answer-input-radio {

}

.answer-feedback.correct {
    color: rgb(28, 156, 30);
    position: absolute;
}

.answer-feedback.incorrect {
    color: rgb(156, 30, 28);
    position: absolute;
}
